@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about monitoring & observability</p>
    <img src="harvest_black.svg">
    <p>@ViewData["ExampleVar"]</p>
</div>
